* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ada-color: rgb(98, 61, 146);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ada-color);
  border-radius: 10px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  outline: none;
}

.page-body {
  border: 2px hidden red;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.form-wrapper {
  border: 2px hidden blue;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.ada-logo {
  width: 90%;
  margin: auto;
}

.logo-container {
  width: 50px;
  height: 50px;
}

.form-contents {
  width: 90%;
  margin: 40px auto 0;
}

.texts-container {
  width: 100%;
  text-align: center;
}

.texts-container h1 {
  text-transform: capitalize;
  color: var(--ada-color);
  line-height: 1.5;
  font-size: 24px;
}

.texts-container p {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.form-items {
  margin-top: 40px;
}

.form-inputs {
  width: 100%;
  margin-top: 20px;
  border: 2px hidden green;
}

.fullname-dob {
  border: 2px hidden blue;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 20px;
}

.fullname,
.dob {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fullname label,
.dob label {
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.fullname input,
.dob input {
  border: 2px solid var(--ada-color);
  height: 40px;
  border-radius: 5px;
  padding: 0 15px 0 15px;
}

.gender-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.male,
.female {
  width: 50%;
  display: flex;
  align-items: center;
}

.male label,
.female label {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.male input,
.female input {
  margin-left: 5px;
}

.hobbies {
  width: 100%;
  margin-top: 20px;
}

.hobbies p {
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 600;
}

.hobbies-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.checkbox {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.terms {
  margin-left: 5px;
  font-size: 14px;
}

.terms a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--ada-color);
  font-weight: 600;
}

.submit-btn {
  width: 150px;
  height: 40px;
  margin-top: 25px;
  background-color: var(--ada-color);
  border-radius: 5px;
  overflow: hidden;
}

.submit-btn input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;

  text-transform: capitalize;
}

@media (min-width: 600px) {
  .hobbies-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .texts-container h1 {
    font-size: 30px;
  }

  .fullname-dob {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  .form-inputs {
    width: 60%;
    margin: auto;
  }

  .hobbies-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .texts-container h1 {
    font-size: 36px;
  }

  .texts-container {
    font-size: 16px;
  }
}
